/*font-family: "Inter", sans-serif; */
/* font-family: "Noto Serif", serif; */

/* common */
:root {
    --link-color: #8987A1;
    --text-color: rgba(0, 0, 0, 0.5);
    --title-color: #000000;
    --primary-color: #E95A08;
    --card-text-color: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.top-margin {
    margin-top: 120px;
}

.desc {
    font-weight: 400;
    font-size: 1.375rem;
    color: var(--text-color);
}

.color-word {
    color: var(--primary-color);
}

.section-title {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--title-color);
}

.btn {
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    box-sizing: content-box;
    width: 100%;
    border: none;
    padding: 20px 0;
}

/* custom styles */
/* navbar related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 48px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.12rem;
    color: var(--link-color);
}

nav ul li a:hover {
    color: #000000;
    transition: 0.7s;
}

#home {
    font-weight: 700;
    color: var(--title-color);
}

#cart {
    color: var(--title-color);
}

/* banner related styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.banner>div {
    max-width: 50%;
}

.banner-title {
    font-size: 4.06rem;
}

/* our-plants section related styles */

.our-plants {
    text-align: center;
}

.our-plants-desc{
    max-width: 888px;
    margin: 1rem auto 0 auto;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    font-size: 1.375rem;
    column-gap: 20px;
    row-gap: 30px;
}
.card img {
    width: 100%;
    margin-bottom: 30px;
}
.flower-name{
    font-weight: 500;
}
.flower-price{
    font-weight: 600;
}
.card p{
    margin: 10px 0 30px 0;
}

/* plants-lover section related styles */

.plants-lover{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plants-lover-right{
    max-width: 540px;
}
.plants-lover-right li{
    padding-top: 20px;
}

#badge{
    max-width: 286px;
    display: block;
    position: relative;
    margin-left: 347px;
    margin-bottom: -160px;
}



/* responsive for small device */
@media screen and (max-width: 576px) {

    .container {
        margin: 20px 20px;
    }

    .desc {
        font-size: 0.875rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    nav img {
        height: 60px;
        width: auto;
    }

    nav ul li:not(:last-child) {
        /* visibility: hidden;
        margin-right: 0; */
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 20px 0 65px 0;
    }

    .banner>div {
        max-width: 100%;
        margin-top: 28px;
    }

    .banner-title {
        font-size: 1.5rem;
        padding-bottom: 13px;
    }

    .banner-right {
        flex: 1;
    }

    .banner-left {
        margin: 20px 20px;
    }

    .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    font-size: 1rem;
    column-gap: 20px;
    row-gap: 30px;
}
.plants-lover{
    flex-direction: column;
    margin-top: 40px;
}
#badge{
    display: none;
}
.plants-lover-right{
    margin: 20px 0;
}
.plants-lover-right ul{
   margin-left: 20px;
}


}