/*font-family: "Inter", sans-serif; */
/* font-family: "Noto Serif", serif; */

/* common */
:root {
    --link-color: #8987A1;
    --text-color: rgba(0, 0, 0, 0.5);
    --title-color: #000000;
    --primary-color: #E95A08;
    --card-text-color: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.top-margin {
    margin-top: 120px;
}

.desc {
    font-weight: 400;
    font-size: 1.375rem;
    color: var(--text-color);
}

.color-word {
    color: var(--primary-color);
}

.section-title {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--title-color);
}

.btn {
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    box-sizing: content-box;
    width: 100%;
    border: none;
    padding: 20px 0;
}

/* custom styles */
/* navbar related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 48px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.12rem;
    color: var(--link-color);
}

nav ul li a:hover {
    color: #000000;
    transition: 0.6s;
}

#home {
    font-weight: 700;
    color: var(--title-color);
}

#cart {
    color: var(--title-color);
}

/* banner related styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.banner>div {
    max-width: 50%;
}

.banner-title {
    font-size: 4.06rem;
}

/* our-plants section related styles */

.our-plants {
    text-align: center;
}

.our-plants-desc {
    max-width: 888px;
    margin: 1rem auto 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    font-size: 1.375rem;
    column-gap: 20px;
    row-gap: 30px;
}

.card img {
    width: 100%;
    margin-bottom: 30px;
}

.flower-name {
    font-weight: 500;
}

.flower-price {
    font-weight: 600;
}

.card p {
    margin: 10px 0 30px 0;
}

/* plants-lover section related styles */

.plants-lover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 210px;
}

.plants-lover-right {
    max-width: 540px;
}

.plants-lover-right ul li {
    padding-top: 20px;
    margin-left: 30px;
    /* width: 100%; */
}

.plants-lover-left {
    position: relative;
}

#plants-lover-left-image {
    display: block;
    height: 100%;
}

/* css animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#badge {
    max-width: 286px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -110px;
    margin-right: -100px;
    filter: drop-shadow(-8px 14px 2px rgb(92, 92, 92));
    /* animation-name: spin;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    animation: spin 21s linear infinite;
    z-index: 1;
}

/* deals section related styles */
.deals-top {
    text-align: center;
}

.deals-top p {
    max-width: 888px;
    margin: 16px auto;
}

.deals-image-3 {
    grid-area: image3;
}

.deals-bottom {
    display: grid;
    grid-template-areas:
        '.  image3 image3'
        '.  image3 image3';
    column-gap: 28px;
    row-gap: 25px;
}

.deals-bottom img {
    display: block;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.deals-image-3 img {
    border-radius: 22px;
}

.deals-image-1 img,
.deals-image-2 img {
    border-radius: 14px;
}

.image-text-1,
.image-text-2,
.image-text-3 {
    text-align: center;
}

.image-text-1 h4,
.image-text-2 h4 {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    white-space: nowrap;
}

.image-text-3 h4 {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    white-space: nowrap;
}

.deals-bottom button a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.image-text-3 a {
    font-size: 1.75rem;
}

.deals-bottom button {
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
}

.deals-image-1,
.deals-image-2,
.deals-image-3 {
    position: relative;
}

/* overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.deals-image-1 .overlay,
.deals-image-2 .overlay {
    border-radius: 14px;
}

.deals-image-3 .overlay {
    border-radius: 22px;
}

.image-text-1,
.image-text-2,
.image-text-3 {
    position: absolute;
    display: inline;
    color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* join section related styles */
.join {
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join h3 {
    color: white;
}

.join form {
    display: flex;
    max-width: 830px;
    width: 100%;
    margin-top: 23px;
}

.join input[type="email"] {
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
    color: var(--text-color);
    border: none;
    outline: none;
    padding: 15px 20px;
    width: 75%;
}

.join input[type="submit"] {
    width: 25%;
}

/* footer */
footer {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

}

footer .column-1 {
    max-width: 360px;
}

footer .column-1 img {
    padding-bottom: 16px;
}

footer ul li {
    list-style: none;
    padding-bottom: 32px;
}

footer ul li:last-child {
    padding-bottom: 0;
}

footer ul li a {
    text-decoration: none;
    color: #6B7280;
}

footer .column-4 img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

footer .column-4 img:last-child {
    margin-right: 0;
}

/* responsive for small device */
@media screen and (max-width: 576px) {

    .container {
        margin: 20px 20px;
    }

    .desc {
        font-size: 0.875rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    nav img {
        height: 60px;
        width: auto;
    }

    nav ul li:not(:last-child) {
        /* visibility: hidden;
        margin-right: 0; */
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 20px 0 65px 0;
    }

    .banner>div {
        max-width: 100%;
        margin-top: 28px;
    }

    .banner-title {
        font-size: 1.5rem;
        padding-bottom: 13px;
    }

    .banner-right {
        flex: 1;
    }

    .banner-left {
        margin: 20px 20px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        font-size: 1rem;
        column-gap: 20px;
        row-gap: 30px;
    }

    .plants-lover {
        flex-direction: column;
        margin-top: 60px;
    }

    #badge {
        display: none;
    }

    .plants-lover-right {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .plants-lover-right ul li {
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .join {
        height: 300px;
        margin: 50px 0 0 0;
    }

    .join form {
        width: 90%;
    }

    .join input[type="submit"] {
        padding: 20px 12px;
    }

    footer {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 0;
    }

    footer>div {
        padding-bottom: 32px;
    }

    footer ul li {
        padding-bottom: 32px;
    }

    .deals {
        margin-top: 70px;
    }

    .deals-bottom {
        display: grid;
        grid-template-areas:
            '.'
            '.'
            'image3';
        column-gap: 20px;
        margin-top: 50px;
    }

    .image-text-3 h4 {
        font-size: 1.25rem;
    }

    .deals-bottom a {
        font-weight: 600;
        font-size: 1rem;
    }

}