/*font-family: "Inter", sans-serif; */
/* font-family: "Noto Serif", serif; */

/* common */
:root {
    --link-color: #8987A1;
    --text-color: rgba(0, 0, 0, 0.5);
    --title-color: #000000;
    --primary-color: #E95A08;
    --card-text-color: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.div-top-margin {
    margin-top: 120px;
}

.desc {
    font-weight: 400;
    font-size: 1.375rem;
    color: var(--text-color);
}

.color-word {
    color: var(--primary-color);
}

.section-title {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--title-color);
}

/* custom styles */
/* navbar related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 48px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.12rem;
    color: var(--link-color);
}

nav ul li a:hover {
    color: #000000;
    transition: 0.7s;
}

#home {
    font-weight: 700;
    color: var(--title-color);
}

#cart {
    color: var(--title-color);
}

/* banner related styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.banner>div {
    max-width: 50%;
}

.banner-title {
    font-size: 4.06rem;
}

/* responsive for small device */
@media screen and (max-width: 576px) {

    .container {
        margin: 20px 20px;
    }

    .desc {
        font-size: 1.142rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
    nav img {
        height: 60px;
        width: auto;
    }

    nav ul li:not(:last-child) {
        /* visibility: hidden;
        margin-right: 0; */
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 20px 0;
    }

    .banner > div {
        max-width: 100%;
        margin-top: 28px;
    }

    .banner-title {
        font-size: 1.5rem;
        padding-bottom: 13px;
    }
  
  .banner-right{
    flex: 1;
    }
    .banner-left{
        margin: 20px 20px;
    }


}